<div class="container">
  <h1>Books Application</h1>
  
  <div class="form-group">
    <label for="newBook">Title:</label>
    <input id="newBook" class="form-control" placeholder="Enter book title">
  </div>

  <div class="form-group">
    <label for="newDesc">Description:</label>
    <textarea id="newDesc" class="form-control" placeholder="Enter book description"></textarea>
  </div>

  <div class="form-group">
    <label for="newPrice">Price:</label>
    <input id="newPrice" class="form-control" placeholder="Enter book price">
  </div>

  <button class="btn btn-primary" (click)="addBook()">Add Book</button>
  
  <hr>

  
</div>

<div *ngFor="let book of books" class="book-card">
  <h2>{{ book.title }}</h2>
  <p>Description: {{ book.desc }}</p>
  <p>Price: Php {{ book.price }}</p>
  <button class="btn btn-danger" (click)="deleteBook(book.id)">Delete Book</button>
</div>